
body{
  background-color: #EAF6F6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

#profile-photo {
  border-radius: 50%;
  width: 90%;
}

.hobbies-figs{
  border-radius: 15px 50px;
  opacity: 0.5;
  width: 20%;
  transition: all .5s ease-out;
}

.hobbies-figs:hover{
  opacity: 1;
  width: 70%;
}
